# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Understand the popular data science languages
* Understand commonly used data science libraries
* Understand important data science tools
* Perform basic arithmetic operations in notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Pyspark

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow
4. Matplotlib

|Data Science Tools|
|---|
|Knime|
|PowerBI|
|Jupyternote book|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
12+21

33

In [2]:
1234/12

102.83333333333333

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Koshy Jacob